<% include ../partials/header %>

<style type="text/css">
    body {
        background-color:pink;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="jumbotron ">

<h1><%= fullname %></h1>
<div>My Hobbies:</div>
<ul>
<% hobbies.forEach(function(hobbies){ %>
    <li><%= hobbies %></li>
    <% }); %>
</ul>
<div>My Birthday: <%= dob %></div>

</div>
<% include ../partials/footer %>