<% include ../partials/header %>

<style type="text/css">
    body {
        background-color:pink;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="jumbotron text-center">
    <h1 class="display-3">EXPRESS.JS</h1>
    <p class="lead">CHOOTIGARN TANAPIBALWONGSA</p>
    <hr class="my-2">
    <p>5930213045</p>
    <p>SOFTWARE ENGINEER</p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="about" role="button">View</a>
    </p>
</div>

<% include ../partials/footer %>